

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Poppins", sans-serif;
  color: #FFF;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

:root{
  --container-padding:60px;
  --dark-orange:#E35D1C;
}